@import url("http://fonts.googleapis.com/css?family=Varela");

html, body { margin:0; padding:0; overflow:hidden }


* {
  font-family: 'Varela', sans-serif;
}

.datedate {
  font-size:20pt;
  color:rgb(250,120,160);
  font-weight:bold;
  text-align:right;
}

.datetime  {
  font-size:20pt;
  color:rgb(120,120,120);
  font-weight:bold;
  text-align:right;
}
