
html, body { margin:0; padding:0; overflow:hidden;   }

h2 { padding:1em ! important; color:rgba(0,0,0,.4) ! important ; font-size:20px ! important}

body { font-family: sans-serif }

#debug { display:none}

#animation { display:none }
